.project-card {
    padding: 0.3cm;
    margin-bottom: 0.75cm;
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
}

.project-title {
    font-weight: bold;
    font-size: 16pt;
    text-decoration: none;
}

.project-desc {
    margin: 10px 0;
}

.project-meta {
    color: #888;
    margin: 0;
}

.lang-bar {
    display: flex;
    height: 6px;
    margin-top: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.lang-segment {
    height: 100%;
}
